{% extends "masterpage.html"%}

{% block content %}
    <input type="text" id="testInput">
    <span style="font-size: 2em; color: red;"><i class='fa fa-red fa-trash'></i></span>
    <table id="exampleTb">
        <thead>
            <th>head</th>
            <th>head</th>
        </thead>
        <tbody>
       
        </tbody>
    </table>

    <button onclick="getData()">Get data</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready( function () {
            $('#exampleTb').DataTable({searching:false, info:false, lengthChange:false});
        } );

        $('#testInput').keypress(function (e) {
            var key = e.which;
            if(key == 13)  // the enter key code
            {   
                var rowContent = $("#testInput").val()
                var t = $('#exampleTb').DataTable();
                t.row.add([rowContent, "<span style='font-size: 1.5em; color: red;''><i class='fa fa-red fa-trash' onClick='deleteRow(this)'></i></span>"]).draw(true)
                // $("#exampleTb > tbody").append("<tr>" +
                //                                     "<td id='item" + rowContent + "'>" + rowContent + "</td>" +
                //                                     "<td><span style='font-size: 1.5em; color: red;''><i class='fa fa-red fa-trash' onClick='deleteRow(this)'></i></span></td>" +
                //                                 "</tr>");
                $("#testInput").val("")
            }
        });

        $("#exampleTb").on('click', '.fa-trash', function () {
            table = $('#exampleTb').DataTable();
            table
                .row( $(this).parents('tr') )
                .remove()
                .draw();
        });

        // function deleteRow(element){
        //     console.log("function");
        //     $(element).closest("tr").remove();
        // };

        function getData(){
            var myTable = $("#exampleTb").DataTable();

            var data  = myTable.rows().data();
            // var data = Array();

            // $("#exampleTb tr").each(function(i, v){
            //     data[i] = $(this).children('td').first().text();
            // }); 

            alert(JSON.stringify(data));
        
        }
        
    </script>
    
    <!-- <script>
        setInterval(function() {   //calls click event after a certain time
            $.ajax('/progress', {
                type: 'get',
                dataType: 'html',
                success : function(html) {
                    $('#oe').html(html)
                },
                error: function() {
                    alert("Error");
                }
            });
        }, 3000);
    </script> -->
{% endblock content %}
