{% extends "masterpage.html"%}

{% block content %}
    <div class="col-sm-2"> 
        <div class="card mt-3" style="margin-bottom: 50%;">
            <div class="card-body">
                <h5 class="card-title">
                    Parâmetros
                </h5>
                <div class="form-group">
                    <label for="gen" class="form-label">Gerações</label>
                    <input type="text" class="form-control" id="gen" placeholder="Número de gerações">
                    <label for="mutation" class="form-label">Mutação</label>
                    <input type="text" class="form-control" id="mutation" placeholder="Taxa de mutação">
                </div>  
                <button class="btn btn-primary" onClick="CreateMaps()">Gerar Rota</button>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div id="spinner" hidden class="spinner-border text-primary" style="width: 150px; height:150px;" role="status" ></div>
        </div>
        <div class="swal-icon swal-icon--success">
            <span class="swal-icon--success__line swal-icon--success__line--long"></span>
            <span class="swal-icon--success__line swal-icon--success__line--tip"></span>
        
            <div class="swal-icon--success__ring"></div>
            <div class="swal-icon--success__hide-corners"></div>
          </div>
    </div>
    <div class="col-sm-10 h-100" style="z-index:0" id="divMap">{% include 'map.html' %}</div>
    
    <div hidden class="card" id="cardResults" style="position: absolute; right:20px;top:5px;z-index: 1;">
        <div class="card-header">
            <h5 style="font-weight: bold;">Resultados</h5>
        </div>
        <ul class="list-group list-group-flush" style="margin-left: 0px;">
            <li id="listInit" class="list-group-item"></li>
            <li id="listVals" class="list-group-item"></li>
            <li id="listGain" class="list-group-item"></li>
            <li id="listGen" class="list-group-item"></li>
        </ul>
    </div>
    <script type="text/javascript">    

        function timeString(d) {
            d = Number(d);
            var h = Math.floor(d / 3600);
            var m = Math.floor(d % 3600 / 60);
            var s = Math.floor(d % 3600 % 60);

            var hDisplay = h > 0 ? h + (h == 1 ? " hora" : " horas") : "";
            var mDisplay = m > 0 ? " e " + m + (m == 1 ? " minuto" : " minutos") : "";
            return hDisplay + mDisplay; 
        }

        const Toast = Swal.mixin({
            toast: true,
            position: 'bottom-start',
            showConfirmButton: false,
            timer: 3000
        })

        Toast.fire({
            })   

        function CreateMaps(){
            $("#spinner").removeAttr("hidden")
            $.ajax('/progress', {
                type: 'get',
                data:{
                    gens:$("#gen").val(),
                    mutation:$('#mutation').val()
                },
                dataType: 'html',
                success : function(html) {
                    console.log("sucesso")
                },
                error: function() {
                    alert("Error");
                }
            });
        }

        socket.on('initRoute', function(data){
            initData = JSON.parse(data)
            $("#listInit").html("<h5 style='font-weight:bold;'>Rota Inicial</h5>" + (initData.distance / 1000) + " KM, " + timeString(initData.time))
            //$("#listGen").html("Geração Atual " + data);          
        });
            
        socket.on('finish', function(data){
            $("#spinner").attr("hidden", true)
            $("#listGen").html("<h5 style='font-weight:bold;'>Geração Atual</h5>" + data);    
            Toast.fire({
                html: '<span style="font-size:18px;">Geração de rota finalizada</span>'
            })      
        });

        socket.on('updMap', function(data){
            genData = JSON.parse(data) 
            $("#cardResults").removeAttr('hidden');
            $("#listVals").html("<h5 style='font-weight:bold;'>Melhor Rota</h5>" + (genData.distance / 1000) + " KM, " + timeString(genData.time))
            $("#listGain").html("<h5 style='font-weight:bold;'>Ganhos</h5>" + genData.gain.toFixed(2) + "%");
            $("#listGen").html("<h5 style='font-weight:bold;'>Geração Atual</h5>" + genData.currentGen);
            $.ajax('/map', {
                type: 'get',
                dataType: 'html',
                success : function(html) {
                    $("#divMap").html(html)
                },
                error: function() {
                    alert("Error");
                }
            });           
        });
    </script>
{% endblock content %}
